@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.solution-container {
  max-width: 1280px;
  margin: auto;
  width: 100%;
}
@media only screen and (max-width: 1279.9px) {
  .solution-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 1023.9px) {
  .solution-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 767.9px) {
  .solution-container {
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media only screen and (max-width: 549.9px) {
  .solution-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
section {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  width: 100%;
  height: 100vh;
  background: #55c45b;
}
section:nth-child(odd) {
  background: #f1aae2;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #ffffff;
  overflow: hidden;
  z-index: -1;
}
.background span {
  width: 36vmin;
  height: 36vmin;
  border-radius: 36vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(0) {
  color: #3c3c728a;
  top: 22%;
  left: 78%;
  animation-duration: 31s;
  animation-delay: -30s;
  transform-origin: -6vw -19vh;
  box-shadow: -72vmin 0 9.03697685vmin currentColor;
}
.background span:nth-child(1) {
  color: #ffaa006e;
  top: 21%;
  left: 68%;
  animation-duration: 30s;
  animation-delay: -22s;
  transform-origin: 20vw 25vh;
  box-shadow: 72vmin 0 9.12183929vmin currentColor;
}
.background span:nth-child(2) {
  color: #3c3c728a;
  top: 14%;
  left: 5%;
  animation-duration: 39s;
  animation-delay: -45s;
  transform-origin: 24vw 21vh;
  box-shadow: -72vmin 0 9.81383786vmin currentColor;
}
.background span:nth-child(3) {
  color: #ffaa006e;
  top: 55%;
  left: 18%;
  animation-duration: 26s;
  animation-delay: -8s;
  transform-origin: 6vw 19vh;
  box-shadow: -72vmin 0 9.73018789vmin currentColor;
}
.background span:nth-child(4) {
  color: #3c3c728a;
  top: 5%;
  left: 43%;
  animation-duration: 24s;
  animation-delay: -44s;
  transform-origin: 8vw -1vh;
  box-shadow: 72vmin 0 9.85449494vmin currentColor;
}
